*{
    box-sizing: border-box;
}
:root{
    --duration: 10s;
}
.flex {
    min-height: 25vh;
    display: flex;
}
.flex .wrapper {
    position: relative;
    display: flex;
    min-height: 25vh;
    height: 20vw;
    width: 110vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-block: 2px solid rgb(7, 7, 7);
    mask-image: linear-gradient(to left, rgba(255,255,255,0),rgb(#fff) rgb(255,255,250,0));
}
.flex .wrapper .img-item {
    padding: 5px;
    position: absolute;
    height: inherit;
    width: 8vw;
    left: 100%;
    animation: scroll var(--duration) linear infinite;
    animation-delay: calc(var(--duration) / 10 * (10 - var(--i))*-1.15);
}
@keyframes scroll{
    0%{
        left: 100%;
    }
    100%{
        left: -20vw;
    }
}
img {
    height: inherit;
    border: none;
    margin: auto;
    padding: 10px;
}
/*.flex .wrapper .img-item:nth-child(1){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.38);
}
.flex .wrapper .img-item:nth-child(2){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(3){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(4){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(5){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(6){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(7){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
.flex .wrapper .img-item:nth-child(8){
    animation-delay: calc(var(--duration) / 8 * (8 - var(--i))*-1.36);
}
